In [1]:
#Importing the packages
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression

In [2]:
file_path = "C:/Users/prite_ef/OneDrive/Documents/Pyhton Practice/Panda Demo/data/PastOrders.csv"
na_vals=['NA', 'Missing']
df = pd.read_csv(file_path, encoding='latin-1',na_values=na_vals)

In [3]:
df

             Order Date  SKU ID  Order Quantity
0      19-11-2019 00:00  3084CA        1.000000
1      30-06-2019 00:00  2621AA       20.000000
2      19-04-2020 00:00  1193BA      147.000000
3      21-05-2020 00:00  1971AA       10.000000
4      31-03-2019 00:00  3177CA       56.250000
...                 ...     ...             ...
33914  19-09-2019 00:00  1308BA        3.431150
33915  07-06-2020 00:00  1296CA        6.913646
33916  02-01-2020 00:00  1295CA        1.142770
33917  20-05-2020 00:00  1283CA        0.619023
33918  07-05-2020 00:00  1281BA        1.301662

[33919 rows x 3 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33919 entries, 0 to 33918
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Date      33919 non-null  object
 1   SKU ID          33919 non-null  object
 2   Order Quantity  33919 non-null  float64
dtypes: float64(1), object(2)
memory usage: 795.1+ KB

In [5]:
df['Order Date'] = pd.to_datetime(df['Order Date']).dt.strftime('%Y/%m/%d %H:%M')

df['Order Date'] = pd.to_datetime(df['Order Date'], format='%Y/%m/%d %H:%M')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33919 entries, 0 to 33918
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Date      33919 non-null  datetime64[ns]
 1   SKU ID          33919 non-null  object
 2   Order Quantity  33919 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 795.1+ KB

In [7]:
le_path = "C:/Users/prite_ef/OneDrive/Documents/Pyhton Practice/Panda Demo/data/Stock.csv"
na_vals=['NA', 'Missing']
ff = pd.read_csv(le_path, encoding='latin-1',na_values=na_vals)

In [8]:
ff

,SKU ID,Current Stock Quantity,Units (Nos/Kg),Average Lead Time (days),Maximum Lead Time (days),Unit Price
0,1009AA,7210.0,Kg,30,48,28.76326
1,1077CA,46516.0,Kg,45,70,22.97770
2,1083AA,48210.0,Kg,45,68,29.02000
3,1116CA,33398.0,Kg,90,140,32.80000
4,1126CA,39270.0,Kg,45,62,32.80000
...,...,...,...,...,...,...
298,3579CA,116.0,Kg,120,187,86.65000
299,3590BA,145.0,Kg,120,160,115.08500
300,3610AA,275.0,Kg,120,188,156.16000
301,3616CA,331.0,Kg,120,167,433.10000
302,3619CA,36357.0,Kg,15,22,0.74550

In [9]:
ff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SKU ID                    303 non-null    object
 1   Current Stock Quantity    303 non-null    float64
 2   Units (Nos/Kg)            303 non-null    object
 3   Average Lead Time (days)  303 non-null    int64
 4   Maximum Lead Time (days)  303 non-null    int64
 5   Unit Price                303 non-null    float64
dtypes: float64(2), int64(2), object(2)
memory usage: 14.3+ KB

In [10]:
new_column_name=['order_date','sku_id','order_quantity']
df.columns=new_column_name

In [11]:
new_column_names=['Sku_id','current_stock_quantity','unit','average_lead_time_days','max_lead_time_days','unit_price']
ff.columns=new_column_names

In [12]:
## date_range = df[(df['order_date'] >= "15-jun-2019") & (df['order_date'] <= "13-jun-2020")]
##date_range = df.groupby(['sku_id'])['order_quantity'].sum().reset_index()
##newff = ff.merge(date_range, left_on='Sku_id', right_on='sku_id', how='left')

In [13]:
date_range = df[(df['order_date'] >= "15-jun-2019")]
date_range = df.groupby(['sku_id'])['order_quantity'].sum().reset_index()
newff = ff.merge(date_range, left_on='Sku_id', right_on='sku_id', how='left')

In [14]:
newff = newff.rename(columns={'order_quantity': 'annual_sales_quantity'})

In [15]:
newff = newff.sort_values(by='annual_sales_quantity', ascending=False)

In [16]:
newff

,Sku_id,current_stock_quantity,unit,average_lead_time_days,max_lead_time_days,unit_price,sku_id,annual_sales_quantity
165,2391CA,87174.0,Kg,45,67,0.75915,2391CA,2.919070e+06
167,2418CA,120860.0,Kg,60,85,5.80000,2418CA,1.721620e+06
173,2473CA,73915.0,Kg,60,92,5.95000,2473CA,1.330076e+06
164,2371CA,78462.0,Kg,90,136,3.44000,2371CA,1.096352e+06
293,3533CA,82476.0,Kg,40,64,0.64377,3533CA,6.433140e+05
...,...,...,...,...,...,...,...,...
270,3296AA,0.0,Kg,30,44,30.00000,NaN,NaN
271,3299CA,0.0,Kg,60,82,30.00000,NaN,NaN
272,3300CA,0.0,Kg,30,42,30.00000,NaN,NaN
273,3312AA,0.0,Kg,60,84,30.00000,NaN,NaN
275,3332CA,0.0,Kg,30,46,30.00000,NaN,NaN

In [17]:
newff['annual_revenue'] = newff['annual_sales_quantity']*newff['unit_price']

In [18]:
newff['annual_sales_quantity'].sum()

14679912.403945563

In [19]:
newff

,Sku_id,current_stock_quantity,unit,average_lead_time_days,max_lead_time_days,unit_price,sku_id,annual_sales_quantity,annual_revenue
165,2391CA,87174.0,Kg,45,67,0.75915,2391CA,2.919070e+06,2.216012e+06
167,2418CA,120860.0,Kg,60,85,5.80000,2418CA,1.721620e+06,9.985398e+06
173,2473CA,73915.0,Kg,60,92,5.95000,2473CA,1.330076e+06,7.913953e+06
164,2371CA,78462.0,Kg,90,136,3.44000,2371CA,1.096352e+06,3.771450e+06
293,3533CA,82476.0,Kg,40,64,0.64377,3533CA,6.433140e+05,4.141463e+05
...,...,...,...,...,...,...,...,...,...
270,3296AA,0.0,Kg,30,44,30.00000,NaN,NaN,NaN
271,3299CA,0.0,Kg,60,82,30.00000,NaN,NaN,NaN
272,3300CA,0.0,Kg,30,42,30.00000,NaN,NaN,NaN
273,3312AA,0.0,Kg,60,84,30.00000,NaN,NaN,NaN
275,3332CA,0.0,Kg,30,46,30.00000,NaN,NaN,NaN

In [20]:
newff['annual_revenue'].sum()

513806424.3594098

In [21]:
newff['revenue_share%']= (newff['annual_revenue']*100)/newff['annual_revenue'].sum()

In [22]:
newff

,Sku_id,current_stock_quantity,unit,average_lead_time_days,max_lead_time_days,unit_price,sku_id,annual_sales_quantity,annual_revenue,revenue_share%
165,2391CA,87174.0,Kg,45,67,0.75915,2391CA,2.919070e+06,2.216012e+06,0.431293
167,2418CA,120860.0,Kg,60,85,5.80000,2418CA,1.721620e+06,9.985398e+06,1.943416
173,2473CA,73915.0,Kg,60,92,5.95000,2473CA,1.330076e+06,7.913953e+06,1.540260
164,2371CA,78462.0,Kg,90,136,3.44000,2371CA,1.096352e+06,3.771450e+06,0.734022
293,3533CA,82476.0,Kg,40,64,0.64377,3533CA,6.433140e+05,4.141463e+05,0.080604
...,...,...,...,...,...,...,...,...,...,...
270,3296AA,0.0,Kg,30,44,30.00000,NaN,NaN,NaN,NaN
271,3299CA,0.0,Kg,60,82,30.00000,NaN,NaN,NaN,NaN
272,3300CA,0.0,Kg,30,42,30.00000,NaN,NaN,NaN,NaN
273,3312AA,0.0,Kg,60,84,30.00000,NaN,NaN,NaN,NaN
275,3332CA,0.0,Kg,30,46,30.00000,NaN,NaN,NaN,NaN

In [23]:
pd.set_option('display.float_format', lambda x: '%.6f' % x)

In [24]:
newff = newff.sort_values(by='revenue_share%', ascending=False)

In [25]:
newff

,Sku_id,current_stock_quantity,unit,average_lead_time_days,max_lead_time_days,unit_price,sku_id,annual_sales_quantity,annual_revenue,revenue_share%
15,1244AA,2834.000000,Kg,45,67,60.000000,1244AA,550590.125801,33035407.548075,6.429543
21,1295CA,5.000000,Kg,120,158,175000.000000,1295CA,133.674654,23393064.427425,4.552894
19,1281BA,3.000000,Kg,60,85,139500.000000,1281BA,134.389717,18747365.530010,3.648722
9,1193BA,2957.000000,Kg,90,138,815.000000,1193BA,21602.000000,17605630.000000,3.426510
261,3205AA,14.000000,Kg,60,91,76300.000000,3205AA,188.275522,14365422.325548,2.795882
...,...,...,...,...,...,...,...,...,...,...
270,3296AA,0.000000,Kg,30,44,30.000000,NaN,NaN,NaN,NaN
271,3299CA,0.000000,Kg,60,82,30.000000,NaN,NaN,NaN,NaN
272,3300CA,0.000000,Kg,30,42,30.000000,NaN,NaN,NaN,NaN
273,3312AA,0.000000,Kg,60,84,30.000000,NaN,NaN,NaN,NaN
275,3332CA,0.000000,Kg,30,46,30.000000,NaN,NaN,NaN,NaN

In [26]:
newff.tail(20)

,Sku_id,current_stock_quantity,unit,average_lead_time_days,max_lead_time_days,unit_price,sku_id,annual_sales_quantity,annual_revenue,revenue_share%
266,3271CA,285.000000,Kg,30,40,34.500000,3271CA,283.723070,9788.445901,0.001905
284,3420AA,73.000000,Kg,15,20,17.255000,3420AA,350.000000,6039.250000,0.001175
74,1708AA,15.000000,Kg,15,23,120.000000,1708AA,45.000000,5400.000000,0.001051
76,1716AA,22.000000,Kg,15,21,140.000000,1716AA,38.000000,5320.000000,0.001035
177,2488CA,22.000000,Kg,30,42,0.950000,2488CA,900.000000,855.000000,0.000166
67,1668CA,400.000000,Kg,30,46,0.850000,1668CA,500.000000,425.000000,0.000083
48,1484BA,439.000000,Kg,15,23,0.200000,1484BA,467.000000,93.400000,0.000018
52,1491CA,0.000000,Kg,30,43,30.000000,NaN,NaN,NaN,NaN
219,2884AA,690.000000,Kg,15,23,30.000000,NaN,NaN,NaN,NaN
220,2895CA,470.000000,Kg,30,42,30.000000,NaN,NaN,NaN,NaN
231,2982AA,200.000000,Kg,30,48,30.000000,NaN,NaN,NaN,NaN
232,2987AA,15.000000,Kg,30,43,30.000000,NaN,NaN,NaN,NaN
267,3274CA,0.000000,Kg,60,92,30.000000,NaN,NaN,NaN,NaN
268,3276AA,0.000000,Kg,30,43,30.000000,NaN,NaN,NaN,NaN
269,3291CA,0.000000,Kg,60,86,30.000000,NaN,NaN,NaN,NaN
270,3296AA,0.000000,Kg,30,44,30.000000,NaN,NaN,NaN,NaN
271,3299CA,0.000000,Kg,60,82,30.000000,NaN,NaN,NaN,NaN
272,3300CA,0.000000,Kg,30,42,30.000000,NaN,NaN,NaN,NaN
273,3312AA,0.000000,Kg,60,84,30.000000,NaN,NaN,NaN,NaN
275,3332CA,0.000000,Kg,30,46,30.000000,NaN,NaN,NaN,NaN

In [27]:
newff['sku_id'].fillna(newff['Sku_id'], inplace=True)

In [28]:
newff.fillna(0, inplace=True)

In [29]:
newff.tail(20)

,Sku_id,current_stock_quantity,unit,average_lead_time_days,max_lead_time_days,unit_price,sku_id,annual_sales_quantity,annual_revenue,revenue_share%
266,3271CA,285.000000,Kg,30,40,34.500000,3271CA,283.723070,9788.445901,0.001905
284,3420AA,73.000000,Kg,15,20,17.255000,3420AA,350.000000,6039.250000,0.001175
74,1708AA,15.000000,Kg,15,23,120.000000,1708AA,45.000000,5400.000000,0.001051
76,1716AA,22.000000,Kg,15,21,140.000000,1716AA,38.000000,5320.000000,0.001035
177,2488CA,22.000000,Kg,30,42,0.950000,2488CA,900.000000,855.000000,0.000166
67,1668CA,400.000000,Kg,30,46,0.850000,1668CA,500.000000,425.000000,0.000083
48,1484BA,439.000000,Kg,15,23,0.200000,1484BA,467.000000,93.400000,0.000018
52,1491CA,0.000000,Kg,30,43,30.000000,1491CA,0.000000,0.000000,0.000000
219,2884AA,690.000000,Kg,15,23,30.000000,2884AA,0.000000,0.000000,0.000000
220,2895CA,470.000000,Kg,30,42,30.000000,2895CA,0.000000,0.000000,0.000000
231,2982AA,200.000000,Kg,30,48,30.000000,2982AA,0.000000,0.000000,0.000000
232,2987AA,15.000000,Kg,30,43,30.000000,2987AA,0.000000,0.000000,0.000000
267,3274CA,0.000000,Kg,60,92,30.000000,3274CA,0.000000,0.000000,0.000000
268,3276AA,0.000000,Kg,30,43,30.000000,3276AA,0.000000,0.000000,0.000000
269,3291CA,0.000000,Kg,60,86,30.000000,3291CA,0.000000,0.000000,0.000000
270,3296AA,0.000000,Kg,30,44,30.000000,3296AA,0.000000,0.000000,0.000000
271,3299CA,0.000000,Kg,60,82,30.000000,3299CA,0.000000,0.000000,0.000000
272,3300CA,0.000000,Kg,30,42,30.000000,3300CA,0.000000,0.000000,0.000000
273,3312AA,0.000000,Kg,60,84,30.000000,3312AA,0.000000,0.000000,0.000000
275,3332CA,0.000000,Kg,30,46,30.000000,3332CA,0.000000,0.000000,0.000000

In [30]:
newff

,Sku_id,current_stock_quantity,unit,average_lead_time_days,max_lead_time_days,unit_price,sku_id,annual_sales_quantity,annual_revenue,revenue_share%
15,1244AA,2834.000000,Kg,45,67,60.000000,1244AA,550590.125801,33035407.548075,6.429543
21,1295CA,5.000000,Kg,120,158,175000.000000,1295CA,133.674654,23393064.427425,4.552894
19,1281BA,3.000000,Kg,60,85,139500.000000,1281BA,134.389717,18747365.530010,3.648722
9,1193BA,2957.000000,Kg,90,138,815.000000,1193BA,21602.000000,17605630.000000,3.426510
261,3205AA,14.000000,Kg,60,91,76300.000000,3205AA,188.275522,14365422.325548,2.795882
...,...,...,...,...,...,...,...,...,...,...
270,3296AA,0.000000,Kg,30,44,30.000000,3296AA,0.000000,0.000000,0.000000
271,3299CA,0.000000,Kg,60,82,30.000000,3299CA,0.000000,0.000000,0.000000
272,3300CA,0.000000,Kg,30,42,30.000000,3300CA,0.000000,0.000000,0.000000
273,3312AA,0.000000,Kg,60,84,30.000000,3312AA,0.000000,0.000000,0.000000
275,3332CA,0.000000,Kg,30,46,30.000000,3332CA,0.000000,0.000000,0.000000

In [31]:
newff['cummulative_share'] = newff['revenue_share%'].cumsum()

In [32]:
newff

,Sku_id,current_stock_quantity,unit,average_lead_time_days,max_lead_time_days,unit_price,sku_id,annual_sales_quantity,annual_revenue,revenue_share%,cummulative_share
15,1244AA,2834.000000,Kg,45,67,60.000000,1244AA,550590.125801,33035407.548075,6.429543,6.429543
21,1295CA,5.000000,Kg,120,158,175000.000000,1295CA,133.674654,23393064.427425,4.552894,10.982438
19,1281BA,3.000000,Kg,60,85,139500.000000,1281BA,134.389717,18747365.530010,3.648722,14.631160
9,1193BA,2957.000000,Kg,90,138,815.000000,1193BA,21602.000000,17605630.000000,3.426510,18.057670
261,3205AA,14.000000,Kg,60,91,76300.000000,3205AA,188.275522,14365422.325548,2.795882,20.853552
...,...,...,...,...,...,...,...,...,...,...,...
270,3296AA,0.000000,Kg,30,44,30.000000,3296AA,0.000000,0.000000,0.000000,100.000000
271,3299CA,0.000000,Kg,60,82,30.000000,3299CA,0.000000,0.000000,0.000000,100.000000
272,3300CA,0.000000,Kg,30,42,30.000000,3300CA,0.000000,0.000000,0.000000,100.000000
273,3312AA,0.000000,Kg,60,84,30.000000,3312AA,0.000000,0.000000,0.000000,100.000000
275,3332CA,0.000000,Kg,30,46,30.000000,3332CA,0.000000,0.000000,0.000000,100.000000

In [33]:
import numpy as np

newff['ABC?'] = np.where(newff['cummulative_share'] <= 70, "A[High Value]",
                                np.where(newff['cummulative_share'] <= 90, "B[Medium Value]", "C[Low Value]"))

In [34]:
newff

,Sku_id,current_stock_quantity,unit,average_lead_time_days,max_lead_time_days,unit_price,sku_id,annual_sales_quantity,annual_revenue,revenue_share%,cummulative_share,ABC?
15,1244AA,2834.000000,Kg,45,67,60.000000,1244AA,550590.125801,33035407.548075,6.429543,6.429543,A[High Value]
21,1295CA,5.000000,Kg,120,158,175000.000000,1295CA,133.674654,23393064.427425,4.552894,10.982438,A[High Value]
19,1281BA,3.000000,Kg,60,85,139500.000000,1281BA,134.389717,18747365.530010,3.648722,14.631160,A[High Value]
9,1193BA,2957.000000,Kg,90,138,815.000000,1193BA,21602.000000,17605630.000000,3.426510,18.057670,A[High Value]
261,3205AA,14.000000,Kg,60,91,76300.000000,3205AA,188.275522,14365422.325548,2.795882,20.853552,A[High Value]
...,...,...,...,...,...,...,...,...,...,...,...,...
270,3296AA,0.000000,Kg,30,44,30.000000,3296AA,0.000000,0.000000,0.000000,100.000000,C[Low Value]
271,3299CA,0.000000,Kg,60,82,30.000000,3299CA,0.000000,0.000000,0.000000,100.000000,C[Low Value]
272,3300CA,0.000000,Kg,30,42,30.000000,3300CA,0.000000,0.000000,0.000000,100.000000,C[Low Value]
273,3312AA,0.000000,Kg,60,84,30.000000,3312AA,0.000000,0.000000,0.000000,100.000000,C[Low Value]
275,3332CA,0.000000,Kg,30,46,30.000000,3332CA,0.000000,0.000000,0.000000,100.000000,C[Low Value]

In [35]:
e_path = "C:/Users/prite_ef/OneDrive/Documents/Pyhton Practice/Panda Demo/data/Weekly_table.csv"
na_vals=['NA', 'Missing']
week = pd.read_csv(e_path, encoding='latin-1',na_values=na_vals)

In [36]:
path = "C:/Users/prite_ef/OneDrive/Documents/Pyhton Practice/Panda Demo/data/sku_table.csv"
na_vals=['NA', 'Missing']
sku = pd.read_csv(path, encoding='latin-1',na_values=na_vals)

In [37]:
new_column_=['date']
week.columns=new_column_

In [38]:
week['date'] = pd.to_datetime(week['date']).dt.strftime('%Y/%m/%d %H:%M')

week['date'] = pd.to_datetime(week['date'], format='%Y/%m/%d %H:%M')

In [39]:
new_column_namesss=['sku_id',]
sku.columns=new_column_namesss

In [40]:
sku.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sku_id  303 non-null    object
dtypes: object(1)
memory usage: 2.5+ KB

In [41]:
sku

     sku_id
0    1244AA
1    1295CA
2    1281BA
3    3205AA
4    2117BA
..      ...
298  3296AA
299  3299CA
300  3300CA
301  3312AA
302  3332CA

[303 rows x 1 columns]

In [42]:
new_column_=['date']
week.columns=new_column_
week

         date
0  2019-06-15
1  2019-06-22
2  2019-06-29
3  2019-07-06
4  2019-07-13
5  2019-07-20
6  2019-07-27
7  2019-08-03
8  2019-08-10
9  2019-08-17
10 2019-08-24
11 2019-08-31
12 2019-09-07
13 2019-09-14
14 2019-09-21
15 2019-09-28
16 2019-10-05
17 2019-10-12
18 2019-10-19
19 2019-10-26
20 2019-11-02
21 2019-11-09
22 2019-11-16
23 2019-11-23
24 2019-11-30
25 2019-12-07
26 2019-12-14
27 2019-12-21
28 2019-12-28
29 2020-01-04
30 2020-01-11
31 2020-01-18
32 2020-01-25
33 2020-02-01
34 2020-02-08
35 2020-02-15
36 2020-02-22
37 2020-02-29
38 2020-03-07
39 2020-03-14
40 2020-03-21
41 2020-03-28
42 2020-04-04
43 2020-04-11
44 2020-04-18
45 2020-04-25
46 2020-05-02
47 2020-05-09
48 2020-05-16
49 2020-05-23
50 2020-05-30
51 2020-06-06
52 2020-06-13

In [43]:
week_list = [sku]*len(week)
new_df = pd.concat([df.assign(date=date) for df, date in zip(week_list,week['date'])])

In [44]:
new_df

     sku_id       date
0    1244AA 2019-06-15
1    1295CA 2019-06-15
2    1281BA 2019-06-15
3    3205AA 2019-06-15
4    2117BA 2019-06-15
..      ...        ...
298  3296AA 2020-06-13
299  3299CA 2020-06-13
300  3300CA 2020-06-13
301  3312AA 2020-06-13
302  3332CA 2020-06-13

[16059 rows x 2 columns]

In [45]:
new_df.to_csv('demand.csv', index = False)

In [46]:
import os
print(os.getcwd())

C:\Users\prite_ef\OneDrive\Documents\Pyhton Practice

In [47]:
dd=pd.read_csv('demand.csv')

In [48]:
df['order_date'] = pd.to_datetime(df['order_date'])
df['order_week'] = df['order_date'].dt.to_period("W")

new_df['order_week'] = new_df['date'].dt.to_period("W")

new_df = new_df.merge(df.groupby(['order_week','sku_id'])['order_quantity'].sum().reset_index(), on=['order_week','sku_id'], how='left')
new_df = new_df.rename(columns={'order_quantity':'weeks_demand'})

In [49]:
new_df

       sku_id       date             order_week  weeks_demand
0      1244AA 2019-06-15  2019-06-10/2019-06-16   4072.956060
1      1295CA 2019-06-15  2019-06-10/2019-06-16      0.268497
2      1281BA 2019-06-15  2019-06-10/2019-06-16      0.527042
3      3205AA 2019-06-15  2019-06-10/2019-06-16      2.017648
4      2117BA 2019-06-15  2019-06-10/2019-06-16     63.030296
...       ...        ...                    ...           ...
16054  3296AA 2020-06-13  2020-06-08/2020-06-14           NaN
16055  3299CA 2020-06-13  2020-06-08/2020-06-14           NaN
16056  3300CA 2020-06-13  2020-06-08/2020-06-14           NaN
16057  3312AA 2020-06-13  2020-06-08/2020-06-14           NaN
16058  3332CA 2020-06-13  2020-06-08/2020-06-14           NaN

[16059 rows x 4 columns]

In [50]:
new_df[(new_df['sku_id'] == '1077CA') & (new_df['date'] == '2019-06-15')]

    sku_id       date             order_week  weeks_demand
12  1077CA 2019-06-15  2019-06-10/2019-06-16  15352.000000

In [51]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16059 entries, 0 to 16058
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sku_id        16059 non-null  object
 1   date          16059 non-null  datetime64[ns]
 2   order_week    16059 non-null  period[W-SUN]
 3   weeks_demand  9465 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1), period[W-SUN](1)
memory usage: 627.3+ KB

In [52]:
new_df['weeks_demand'].fillna(0, inplace=True)

In [53]:
new_df

       sku_id       date             order_week  weeks_demand
0      1244AA 2019-06-15  2019-06-10/2019-06-16   4072.956060
1      1295CA 2019-06-15  2019-06-10/2019-06-16      0.268497
2      1281BA 2019-06-15  2019-06-10/2019-06-16      0.527042
3      3205AA 2019-06-15  2019-06-10/2019-06-16      2.017648
4      2117BA 2019-06-15  2019-06-10/2019-06-16     63.030296
...       ...        ...                    ...           ...
16054  3296AA 2020-06-13  2020-06-08/2020-06-14      0.000000
16055  3299CA 2020-06-13  2020-06-08/2020-06-14      0.000000
16056  3300CA 2020-06-13  2020-06-08/2020-06-14      0.000000
16057  3312AA 2020-06-13  2020-06-08/2020-06-14      0.000000
16058  3332CA 2020-06-13  2020-06-08/2020-06-14      0.000000

[16059 rows x 4 columns]

In [54]:
newff

,Sku_id,current_stock_quantity,unit,average_lead_time_days,max_lead_time_days,unit_price,sku_id,annual_sales_quantity,annual_revenue,revenue_share%,cummulative_share,ABC?
15,1244AA,2834.000000,Kg,45,67,60.000000,1244AA,550590.125801,33035407.548075,6.429543,6.429543,A[High Value]
21,1295CA,5.000000,Kg,120,158,175000.000000,1295CA,133.674654,23393064.427425,4.552894,10.982438,A[High Value]
19,1281BA,3.000000,Kg,60,85,139500.000000,1281BA,134.389717,18747365.530010,3.648722,14.631160,A[High Value]
9,1193BA,2957.000000,Kg,90,138,815.000000,1193BA,21602.000000,17605630.000000,3.426510,18.057670,A[High Value]
261,3205AA,14.000000,Kg,60,91,76300.000000,3205AA,188.275522,14365422.325548,2.795882,20.853552,A[High Value]
...,...,...,...,...,...,...,...,...,...,...,...,...
270,3296AA,0.000000,Kg,30,44,30.000000,3296AA,0.000000,0.000000,0.000000,100.000000,C[Low Value]
271,3299CA,0.000000,Kg,60,82,30.000000,3299CA,0.000000,0.000000,0.000000,100.000000,C[Low Value]
272,3300CA,0.000000,Kg,30,42,30.000000,3300CA,0.000000,0.000000,0.000000,100.000000,C[Low Value]
273,3312AA,0.000000,Kg,60,84,30.000000,3312AA,0.000000,0.000000,0.000000,100.000000,C[Low Value]
275,3332CA,0.000000,Kg,30,46,30.000000,3332CA,0.000000,0.000000,0.000000,100.000000,C[Low Value]

In [55]:
avg_week_demand = new_df.groupby('sku_id')['weeks_demand'].mean().reset_index()
avg_week_demand.columns = ['sku_id', 'avg_week_demand']

In [56]:
avg_week_demand

     sku_id  avg_week_demand
0    1009AA      1073.377358
1    1077CA      6785.830189
2    1083AA      4971.509434
3    1116CA      4920.075472
4    1126CA      5958.301887
..      ...              ...
298  3579CA         3.396226
299  3590BA        21.528302
300  3610AA         5.132075
301  3616CA         6.113208
302  3619CA      6007.132075

[303 rows x 2 columns]

In [57]:
merged_df = pd.merge(newff, avg_week_demand, on='sku_id')

In [58]:
merged_df

,Sku_id,current_stock_quantity,unit,average_lead_time_days,max_lead_time_days,unit_price,sku_id,annual_sales_quantity,annual_revenue,revenue_share%,cummulative_share,ABC?,avg_week_demand
0,1244AA,2834.000000,Kg,45,67,60.000000,1244AA,550590.125801,33035407.548075,6.429543,6.429543,A[High Value],8278.177630
1,1295CA,5.000000,Kg,120,158,175000.000000,1295CA,133.674654,23393064.427425,4.552894,10.982438,A[High Value],1.989973
2,1281BA,3.000000,Kg,60,85,139500.000000,1281BA,134.389717,18747365.530010,3.648722,14.631160,A[High Value],1.903372
3,1193BA,2957.000000,Kg,90,138,815.000000,1193BA,21602.000000,17605630.000000,3.426510,18.057670,A[High Value],331.660377
4,3205AA,14.000000,Kg,60,91,76300.000000,3205AA,188.275522,14365422.325548,2.795882,20.853552,A[High Value],2.801905
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,3296AA,0.000000,Kg,30,44,30.000000,3296AA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000
299,3299CA,0.000000,Kg,60,82,30.000000,3299CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000
300,3300CA,0.000000,Kg,30,42,30.000000,3300CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000
301,3312AA,0.000000,Kg,60,84,30.000000,3312AA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000
302,3332CA,0.000000,Kg,30,46,30.000000,3332CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000

In [59]:
merged_df['avg_week_demand'].isna().value_counts()

False    303
Name: avg_week_demand, dtype: int64

In [60]:
std_deviation = new_df.groupby('sku_id')['weeks_demand'].std().reset_index()
std_deviation.columns = ['sku_id', 'std_deviation']

In [61]:
std_deviation

     sku_id  std_deviation
0    1009AA    1357.637643
1    1077CA    8291.621447
2    1083AA    5103.225152
3    1116CA    7400.463174
4    1126CA    8780.267609
..      ...            ...
298  3579CA      16.612483
299  3590BA      35.388831
300  3610AA      14.258652
301  3616CA      18.484568
302  3619CA    6082.952851

[303 rows x 2 columns]

In [62]:
merged_df1 = pd.merge(merged_df, std_deviation, on='sku_id')

In [63]:
merged_df1

,Sku_id,current_stock_quantity,unit,average_lead_time_days,max_lead_time_days,unit_price,sku_id,annual_sales_quantity,annual_revenue,revenue_share%,cummulative_share,ABC?,avg_week_demand,std_deviation
0,1244AA,2834.000000,Kg,45,67,60.000000,1244AA,550590.125801,33035407.548075,6.429543,6.429543,A[High Value],8278.177630,7930.069419
1,1295CA,5.000000,Kg,120,158,175000.000000,1295CA,133.674654,23393064.427425,4.552894,10.982438,A[High Value],1.989973,1.890351
2,1281BA,3.000000,Kg,60,85,139500.000000,1281BA,134.389717,18747365.530010,3.648722,14.631160,A[High Value],1.903372,1.654688
3,1193BA,2957.000000,Kg,90,138,815.000000,1193BA,21602.000000,17605630.000000,3.426510,18.057670,A[High Value],331.660377,659.644891
4,3205AA,14.000000,Kg,60,91,76300.000000,3205AA,188.275522,14365422.325548,2.795882,20.853552,A[High Value],2.801905,2.200798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,3296AA,0.000000,Kg,30,44,30.000000,3296AA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000
299,3299CA,0.000000,Kg,60,82,30.000000,3299CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000
300,3300CA,0.000000,Kg,30,42,30.000000,3300CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000
301,3312AA,0.000000,Kg,60,84,30.000000,3312AA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000
302,3332CA,0.000000,Kg,30,46,30.000000,3332CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000

In [64]:
merged_df1['CoV']= merged_df1['std_deviation']/merged_df1['avg_week_demand']

In [65]:
merged_df1

,Sku_id,current_stock_quantity,unit,average_lead_time_days,max_lead_time_days,unit_price,sku_id,annual_sales_quantity,annual_revenue,revenue_share%,cummulative_share,ABC?,avg_week_demand,std_deviation,CoV
0,1244AA,2834.000000,Kg,45,67,60.000000,1244AA,550590.125801,33035407.548075,6.429543,6.429543,A[High Value],8278.177630,7930.069419,0.957949
1,1295CA,5.000000,Kg,120,158,175000.000000,1295CA,133.674654,23393064.427425,4.552894,10.982438,A[High Value],1.989973,1.890351,0.949938
2,1281BA,3.000000,Kg,60,85,139500.000000,1281BA,134.389717,18747365.530010,3.648722,14.631160,A[High Value],1.903372,1.654688,0.869346
3,1193BA,2957.000000,Kg,90,138,815.000000,1193BA,21602.000000,17605630.000000,3.426510,18.057670,A[High Value],331.660377,659.644891,1.988917
4,3205AA,14.000000,Kg,60,91,76300.000000,3205AA,188.275522,14365422.325548,2.795882,20.853552,A[High Value],2.801905,2.200798,0.785465
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,3296AA,0.000000,Kg,30,44,30.000000,3296AA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,NaN
299,3299CA,0.000000,Kg,60,82,30.000000,3299CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,NaN
300,3300CA,0.000000,Kg,30,42,30.000000,3300CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,NaN
301,3312AA,0.000000,Kg,60,84,30.000000,3312AA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,NaN
302,3332CA,0.000000,Kg,30,46,30.000000,3332CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,NaN

In [66]:
merged_df1['CoV'].isna().value_counts()

False    290
True      13
Name: CoV, dtype: int64

In [67]:
merged_df1['CoV'].fillna(1000, inplace=True)

In [68]:
merged_df1['CoV'].isna().value_counts()

False    303
Name: CoV, dtype: int64

In [69]:
merged_df1

,Sku_id,current_stock_quantity,unit,average_lead_time_days,max_lead_time_days,unit_price,sku_id,annual_sales_quantity,annual_revenue,revenue_share%,cummulative_share,ABC?,avg_week_demand,std_deviation,CoV
0,1244AA,2834.000000,Kg,45,67,60.000000,1244AA,550590.125801,33035407.548075,6.429543,6.429543,A[High Value],8278.177630,7930.069419,0.957949
1,1295CA,5.000000,Kg,120,158,175000.000000,1295CA,133.674654,23393064.427425,4.552894,10.982438,A[High Value],1.989973,1.890351,0.949938
2,1281BA,3.000000,Kg,60,85,139500.000000,1281BA,134.389717,18747365.530010,3.648722,14.631160,A[High Value],1.903372,1.654688,0.869346
3,1193BA,2957.000000,Kg,90,138,815.000000,1193BA,21602.000000,17605630.000000,3.426510,18.057670,A[High Value],331.660377,659.644891,1.988917
4,3205AA,14.000000,Kg,60,91,76300.000000,3205AA,188.275522,14365422.325548,2.795882,20.853552,A[High Value],2.801905,2.200798,0.785465
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,3296AA,0.000000,Kg,30,44,30.000000,3296AA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000
299,3299CA,0.000000,Kg,60,82,30.000000,3299CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000
300,3300CA,0.000000,Kg,30,42,30.000000,3300CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000
301,3312AA,0.000000,Kg,60,84,30.000000,3312AA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000
302,3332CA,0.000000,Kg,30,46,30.000000,3332CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000

In [70]:
merged_df1['CoV'].isnull().sum() # check for missing values

0

In [71]:
merged_df1['CoV_rank'] = merged_df1['CoV'].rank(method='average')

In [72]:
merged_df1['CoV_rank'].isna().value_counts()

False    303
Name: CoV_rank, dtype: int64

In [73]:
merged_df1

,Sku_id,current_stock_quantity,unit,average_lead_time_days,max_lead_time_days,unit_price,sku_id,annual_sales_quantity,annual_revenue,revenue_share%,cummulative_share,ABC?,avg_week_demand,std_deviation,CoV,CoV_rank
0,1244AA,2834.000000,Kg,45,67,60.000000,1244AA,550590.125801,33035407.548075,6.429543,6.429543,A[High Value],8278.177630,7930.069419,0.957949,62.000000
1,1295CA,5.000000,Kg,120,158,175000.000000,1295CA,133.674654,23393064.427425,4.552894,10.982438,A[High Value],1.989973,1.890351,0.949938,58.000000
2,1281BA,3.000000,Kg,60,85,139500.000000,1281BA,134.389717,18747365.530010,3.648722,14.631160,A[High Value],1.903372,1.654688,0.869346,21.000000
3,1193BA,2957.000000,Kg,90,138,815.000000,1193BA,21602.000000,17605630.000000,3.426510,18.057670,A[High Value],331.660377,659.644891,1.988917,180.000000
4,3205AA,14.000000,Kg,60,91,76300.000000,3205AA,188.275522,14365422.325548,2.795882,20.853552,A[High Value],2.801905,2.200798,0.785465,6.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,3296AA,0.000000,Kg,30,44,30.000000,3296AA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000
299,3299CA,0.000000,Kg,60,82,30.000000,3299CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000
300,3300CA,0.000000,Kg,30,42,30.000000,3300CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000
301,3312AA,0.000000,Kg,60,84,30.000000,3312AA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000
302,3332CA,0.000000,Kg,30,46,30.000000,3332CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000

In [74]:
merged_df1 = merged_df1.sort_values(by='CoV_rank', ascending=True)

In [75]:
merged_df1

,Sku_id,current_stock_quantity,unit,average_lead_time_days,max_lead_time_days,unit_price,sku_id,annual_sales_quantity,annual_revenue,revenue_share%,cummulative_share,ABC?,avg_week_demand,std_deviation,CoV,CoV_rank
80,3239AA,800.000000,Kg,30,42,687.500000,3239AA,1721.083033,1183244.585389,0.230290,87.792301,B[Medium Value],25.565558,18.753785,0.733557,1.000000
24,3178CA,4.000000,Kg,30,47,26000.000000,3178CA,226.036516,5876949.411008,1.143806,58.213541,A[High Value],3.438034,2.556294,0.743534,2.000000
124,3249CA,86.000000,Kg,60,87,320.000000,3249CA,1684.805400,539137.727967,0.104930,94.514363,C[Low Value],26.397832,19.728193,0.747341,3.000000
224,3264CA,930.000000,Kg,30,47,30.000000,3264CA,1794.029524,53820.885706,0.010475,99.697309,C[Low Value],27.444542,20.547363,0.748687,4.000000
283,3271CA,285.000000,Kg,30,40,34.500000,3271CA,283.723070,9788.445901,0.001905,99.996471,C[Low Value],4.163156,3.255675,0.782021,5.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,2895CA,470.000000,Kg,30,42,30.000000,2895CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000
291,2884AA,690.000000,Kg,15,23,30.000000,2884AA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000
301,3312AA,0.000000,Kg,60,84,30.000000,3312AA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000
295,3274CA,0.000000,Kg,60,92,30.000000,3274CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000
302,3332CA,0.000000,Kg,30,46,30.000000,3332CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000

In [76]:
 merged_df1['CoV_rank'].max()

297.0

In [77]:
merged_df1['XYZ?'] = np.where(merged_df1['CoV_rank'] <= 0.20*merged_df1['CoV_rank'].max() , "X[Uniform Demand]",
                                np.where(merged_df1['CoV_rank']  <= 0.50*merged_df1['CoV_rank'].max(), "Y[variable Demand]", "Z[Uncertain Demand]"))

In [78]:
merged_df1

,Sku_id,current_stock_quantity,unit,average_lead_time_days,max_lead_time_days,unit_price,sku_id,annual_sales_quantity,annual_revenue,revenue_share%,cummulative_share,ABC?,avg_week_demand,std_deviation,CoV,CoV_rank,XYZ?
80,3239AA,800.000000,Kg,30,42,687.500000,3239AA,1721.083033,1183244.585389,0.230290,87.792301,B[Medium Value],25.565558,18.753785,0.733557,1.000000,X[Uniform Demand]
24,3178CA,4.000000,Kg,30,47,26000.000000,3178CA,226.036516,5876949.411008,1.143806,58.213541,A[High Value],3.438034,2.556294,0.743534,2.000000,X[Uniform Demand]
124,3249CA,86.000000,Kg,60,87,320.000000,3249CA,1684.805400,539137.727967,0.104930,94.514363,C[Low Value],26.397832,19.728193,0.747341,3.000000,X[Uniform Demand]
224,3264CA,930.000000,Kg,30,47,30.000000,3264CA,1794.029524,53820.885706,0.010475,99.697309,C[Low Value],27.444542,20.547363,0.748687,4.000000,X[Uniform Demand]
283,3271CA,285.000000,Kg,30,40,34.500000,3271CA,283.723070,9788.445901,0.001905,99.996471,C[Low Value],4.163156,3.255675,0.782021,5.000000,X[Uniform Demand]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,2895CA,470.000000,Kg,30,42,30.000000,2895CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand]
291,2884AA,690.000000,Kg,15,23,30.000000,2884AA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand]
301,3312AA,0.000000,Kg,60,84,30.000000,3312AA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand]
295,3274CA,0.000000,Kg,60,92,30.000000,3274CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand]
302,3332CA,0.000000,Kg,30,46,30.000000,3332CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand]

In [79]:
merged_df1['value_in_warehouse']=merged_df1['current_stock_quantity']*merged_df1['unit_price']
merged_df1

,Sku_id,current_stock_quantity,unit,average_lead_time_days,max_lead_time_days,unit_price,sku_id,annual_sales_quantity,annual_revenue,revenue_share%,cummulative_share,ABC?,avg_week_demand,std_deviation,CoV,CoV_rank,XYZ?,value_in_warehouse
80,3239AA,800.000000,Kg,30,42,687.500000,3239AA,1721.083033,1183244.585389,0.230290,87.792301,B[Medium Value],25.565558,18.753785,0.733557,1.000000,X[Uniform Demand],550000.000000
24,3178CA,4.000000,Kg,30,47,26000.000000,3178CA,226.036516,5876949.411008,1.143806,58.213541,A[High Value],3.438034,2.556294,0.743534,2.000000,X[Uniform Demand],104000.000000
124,3249CA,86.000000,Kg,60,87,320.000000,3249CA,1684.805400,539137.727967,0.104930,94.514363,C[Low Value],26.397832,19.728193,0.747341,3.000000,X[Uniform Demand],27520.000000
224,3264CA,930.000000,Kg,30,47,30.000000,3264CA,1794.029524,53820.885706,0.010475,99.697309,C[Low Value],27.444542,20.547363,0.748687,4.000000,X[Uniform Demand],27900.000000
283,3271CA,285.000000,Kg,30,40,34.500000,3271CA,283.723070,9788.445901,0.001905,99.996471,C[Low Value],4.163156,3.255675,0.782021,5.000000,X[Uniform Demand],9832.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,2895CA,470.000000,Kg,30,42,30.000000,2895CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand],14100.000000
291,2884AA,690.000000,Kg,15,23,30.000000,2884AA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand],20700.000000
301,3312AA,0.000000,Kg,60,84,30.000000,3312AA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand],0.000000
295,3274CA,0.000000,Kg,60,92,30.000000,3274CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand],0.000000
302,3332CA,0.000000,Kg,30,46,30.000000,3332CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand],0.000000

In [80]:
merged_df1['ABC_rank'] = merged_df1['cummulative_share'].rank(method='average')
merged_df1

,Sku_id,current_stock_quantity,unit,average_lead_time_days,max_lead_time_days,unit_price,sku_id,annual_sales_quantity,annual_revenue,revenue_share%,cummulative_share,ABC?,avg_week_demand,std_deviation,CoV,CoV_rank,XYZ?,value_in_warehouse,ABC_rank
80,3239AA,800.000000,Kg,30,42,687.500000,3239AA,1721.083033,1183244.585389,0.230290,87.792301,B[Medium Value],25.565558,18.753785,0.733557,1.000000,X[Uniform Demand],550000.000000,81.000000
24,3178CA,4.000000,Kg,30,47,26000.000000,3178CA,226.036516,5876949.411008,1.143806,58.213541,A[High Value],3.438034,2.556294,0.743534,2.000000,X[Uniform Demand],104000.000000,25.000000
124,3249CA,86.000000,Kg,60,87,320.000000,3249CA,1684.805400,539137.727967,0.104930,94.514363,C[Low Value],26.397832,19.728193,0.747341,3.000000,X[Uniform Demand],27520.000000,125.000000
224,3264CA,930.000000,Kg,30,47,30.000000,3264CA,1794.029524,53820.885706,0.010475,99.697309,C[Low Value],27.444542,20.547363,0.748687,4.000000,X[Uniform Demand],27900.000000,225.000000
283,3271CA,285.000000,Kg,30,40,34.500000,3271CA,283.723070,9788.445901,0.001905,99.996471,C[Low Value],4.163156,3.255675,0.782021,5.000000,X[Uniform Demand],9832.500000,284.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,2895CA,470.000000,Kg,30,42,30.000000,2895CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand],14100.000000,296.500000
291,2884AA,690.000000,Kg,15,23,30.000000,2884AA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand],20700.000000,296.500000
301,3312AA,0.000000,Kg,60,84,30.000000,3312AA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand],0.000000,296.500000
295,3274CA,0.000000,Kg,60,92,30.000000,3274CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand],0.000000,296.500000
302,3332CA,0.000000,Kg,30,46,30.000000,3332CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand],0.000000,296.500000

In [81]:
max_week_demand = new_df.groupby('sku_id')['weeks_demand'].max().reset_index()
max_week_demand.columns = ['sku_id', 'max_week_demand']

In [82]:
max_week_demand

     sku_id  max_week_demand
0    1009AA      6309.000000
1    1077CA     37308.000000
2    1083AA     24126.000000
3    1116CA     36358.000000
4    1126CA     34572.000000
..      ...              ...
298  3579CA       116.000000
299  3590BA       164.000000
300  3610AA        90.000000
301  3616CA       100.000000
302  3619CA     27743.000000

[303 rows x 2 columns]

In [83]:
merged_df1 = pd.merge(merged_df1, max_week_demand, on='sku_id')

In [84]:
merged_df1

,Sku_id,current_stock_quantity,unit,average_lead_time_days,max_lead_time_days,unit_price,sku_id,annual_sales_quantity,annual_revenue,revenue_share%,cummulative_share,ABC?,avg_week_demand,std_deviation,CoV,CoV_rank,XYZ?,value_in_warehouse,ABC_rank,max_week_demand
0,3239AA,800.000000,Kg,30,42,687.500000,3239AA,1721.083033,1183244.585389,0.230290,87.792301,B[Medium Value],25.565558,18.753785,0.733557,1.000000,X[Uniform Demand],550000.000000,81.000000,77.188741
1,3178CA,4.000000,Kg,30,47,26000.000000,3178CA,226.036516,5876949.411008,1.143806,58.213541,A[High Value],3.438034,2.556294,0.743534,2.000000,X[Uniform Demand],104000.000000,25.000000,9.751886
2,3249CA,86.000000,Kg,60,87,320.000000,3249CA,1684.805400,539137.727967,0.104930,94.514363,C[Low Value],26.397832,19.728193,0.747341,3.000000,X[Uniform Demand],27520.000000,125.000000,68.682560
3,3264CA,930.000000,Kg,30,47,30.000000,3264CA,1794.029524,53820.885706,0.010475,99.697309,C[Low Value],27.444542,20.547363,0.748687,4.000000,X[Uniform Demand],27900.000000,225.000000,69.962179
4,3271CA,285.000000,Kg,30,40,34.500000,3271CA,283.723070,9788.445901,0.001905,99.996471,C[Low Value],4.163156,3.255675,0.782021,5.000000,X[Uniform Demand],9832.500000,284.000000,10.971107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,2895CA,470.000000,Kg,30,42,30.000000,2895CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand],14100.000000,296.500000,0.000000
299,2884AA,690.000000,Kg,15,23,30.000000,2884AA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand],20700.000000,296.500000,0.000000
300,3312AA,0.000000,Kg,60,84,30.000000,3312AA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand],0.000000,296.500000,0.000000
301,3274CA,0.000000,Kg,60,92,30.000000,3274CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand],0.000000,296.500000,0.000000
302,3332CA,0.000000,Kg,30,46,30.000000,3332CA,0.000000,0.000000,0.000000,100.000000,C[Low Value],0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand],0.000000,296.500000,0.000000

In [85]:
merged_df1['safety_stock']=((merged_df1['max_week_demand']*(merged_df1['max_lead_time_days'])/7)-(merged_df1['avg_week_demand']*(merged_df1['average_lead_time_days'])/7))

In [86]:
merged_df1

,Sku_id,current_stock_quantity,unit,average_lead_time_days,max_lead_time_days,unit_price,sku_id,annual_sales_quantity,annual_revenue,revenue_share%,...,ABC?,avg_week_demand,std_deviation,CoV,CoV_rank,XYZ?,value_in_warehouse,ABC_rank,max_week_demand,safety_stock
0,3239AA,800.000000,Kg,30,42,687.500000,3239AA,1721.083033,1183244.585389,0.230290,...,B[Medium Value],25.565558,18.753785,0.733557,1.000000,X[Uniform Demand],550000.000000,81.000000,77.188741,353.565769
1,3178CA,4.000000,Kg,30,47,26000.000000,3178CA,226.036516,5876949.411008,1.143806,...,A[High Value],3.438034,2.556294,0.743534,2.000000,X[Uniform Demand],104000.000000,25.000000,9.751886,50.742516
2,3249CA,86.000000,Kg,60,87,320.000000,3249CA,1684.805400,539137.727967,0.104930,...,C[Low Value],26.397832,19.728193,0.747341,3.000000,X[Uniform Demand],27520.000000,125.000000,68.682560,627.358964
3,3264CA,930.000000,Kg,30,47,30.000000,3264CA,1794.029524,53820.885706,0.010475,...,C[Low Value],27.444542,20.547363,0.748687,4.000000,X[Uniform Demand],27900.000000,225.000000,69.962179,352.126591
4,3271CA,285.000000,Kg,30,40,34.500000,3271CA,283.723070,9788.445901,0.001905,...,C[Low Value],4.163156,3.255675,0.782021,5.000000,X[Uniform Demand],9832.500000,284.000000,10.971107,44.849941
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,2895CA,470.000000,Kg,30,42,30.000000,2895CA,0.000000,0.000000,0.000000,...,C[Low Value],0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand],14100.000000,296.500000,0.000000,0.000000
299,2884AA,690.000000,Kg,15,23,30.000000,2884AA,0.000000,0.000000,0.000000,...,C[Low Value],0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand],20700.000000,296.500000,0.000000,0.000000
300,3312AA,0.000000,Kg,60,84,30.000000,3312AA,0.000000,0.000000,0.000000,...,C[Low Value],0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand],0.000000,296.500000,0.000000,0.000000
301,3274CA,0.000000,Kg,60,92,30.000000,3274CA,0.000000,0.000000,0.000000,...,C[Low Value],0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand],0.000000,296.500000,0.000000,0.000000
302,3332CA,0.000000,Kg,30,46,30.000000,3332CA,0.000000,0.000000,0.000000,...,C[Low Value],0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand],0.000000,296.500000,0.000000,0.000000

In [87]:
merged_df1['reorder_point']= (merged_df1['safety_stock'] + (merged_df1['avg_week_demand']*(merged_df1['average_lead_time_days'])/7))

In [88]:
merged_df1

,Sku_id,current_stock_quantity,unit,average_lead_time_days,max_lead_time_days,unit_price,sku_id,annual_sales_quantity,annual_revenue,revenue_share%,...,avg_week_demand,std_deviation,CoV,CoV_rank,XYZ?,value_in_warehouse,ABC_rank,max_week_demand,safety_stock,reorder_point
0,3239AA,800.000000,Kg,30,42,687.500000,3239AA,1721.083033,1183244.585389,0.230290,...,25.565558,18.753785,0.733557,1.000000,X[Uniform Demand],550000.000000,81.000000,77.188741,353.565769,463.132446
1,3178CA,4.000000,Kg,30,47,26000.000000,3178CA,226.036516,5876949.411008,1.143806,...,3.438034,2.556294,0.743534,2.000000,X[Uniform Demand],104000.000000,25.000000,9.751886,50.742516,65.476947
2,3249CA,86.000000,Kg,60,87,320.000000,3249CA,1684.805400,539137.727967,0.104930,...,26.397832,19.728193,0.747341,3.000000,X[Uniform Demand],27520.000000,125.000000,68.682560,627.358964,853.626097
3,3264CA,930.000000,Kg,30,47,30.000000,3264CA,1794.029524,53820.885706,0.010475,...,27.444542,20.547363,0.748687,4.000000,X[Uniform Demand],27900.000000,225.000000,69.962179,352.126591,469.746059
4,3271CA,285.000000,Kg,30,40,34.500000,3271CA,283.723070,9788.445901,0.001905,...,4.163156,3.255675,0.782021,5.000000,X[Uniform Demand],9832.500000,284.000000,10.971107,44.849941,62.692037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,2895CA,470.000000,Kg,30,42,30.000000,2895CA,0.000000,0.000000,0.000000,...,0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand],14100.000000,296.500000,0.000000,0.000000,0.000000
299,2884AA,690.000000,Kg,15,23,30.000000,2884AA,0.000000,0.000000,0.000000,...,0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand],20700.000000,296.500000,0.000000,0.000000,0.000000
300,3312AA,0.000000,Kg,60,84,30.000000,3312AA,0.000000,0.000000,0.000000,...,0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand],0.000000,296.500000,0.000000,0.000000,0.000000
301,3274CA,0.000000,Kg,60,92,30.000000,3274CA,0.000000,0.000000,0.000000,...,0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand],0.000000,296.500000,0.000000,0.000000,0.000000
302,3332CA,0.000000,Kg,30,46,30.000000,3332CA,0.000000,0.000000,0.000000,...,0.000000,0.000000,1000.000000,297.000000,Z[Uncertain Demand],0.000000,296.500000,0.000000,0.000000,0.000000

In [89]:
merged_df1['do_we_need_to_reorder?'] = np.where(merged_df1['reorder_point'] > merged_df1['current_stock_quantity'], "Yes", "No")

In [90]:
merged_df1

,Sku_id,current_stock_quantity,unit,average_lead_time_days,max_lead_time_days,unit_price,sku_id,annual_sales_quantity,annual_revenue,revenue_share%,...,std_deviation,CoV,CoV_rank,XYZ?,value_in_warehouse,ABC_rank,max_week_demand,safety_stock,reorder_point,do_we_need_to_reorder?
0,3239AA,800.000000,Kg,30,42,687.500000,3239AA,1721.083033,1183244.585389,0.230290,...,18.753785,0.733557,1.000000,X[Uniform Demand],550000.000000,81.000000,77.188741,353.565769,463.132446,No
1,3178CA,4.000000,Kg,30,47,26000.000000,3178CA,226.036516,5876949.411008,1.143806,...,2.556294,0.743534,2.000000,X[Uniform Demand],104000.000000,25.000000,9.751886,50.742516,65.476947,Yes
2,3249CA,86.000000,Kg,60,87,320.000000,3249CA,1684.805400,539137.727967,0.104930,...,19.728193,0.747341,3.000000,X[Uniform Demand],27520.000000,125.000000,68.682560,627.358964,853.626097,Yes
3,3264CA,930.000000,Kg,30,47,30.000000,3264CA,1794.029524,53820.885706,0.010475,...,20.547363,0.748687,4.000000,X[Uniform Demand],27900.000000,225.000000,69.962179,352.126591,469.746059,No
4,3271CA,285.000000,Kg,30,40,34.500000,3271CA,283.723070,9788.445901,0.001905,...,3.255675,0.782021,5.000000,X[Uniform Demand],9832.500000,284.000000,10.971107,44.849941,62.692037,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,2895CA,470.000000,Kg,30,42,30.000000,2895CA,0.000000,0.000000,0.000000,...,0.000000,1000.000000,297.000000,Z[Uncertain Demand],14100.000000,296.500000,0.000000,0.000000,0.000000,No
299,2884AA,690.000000,Kg,15,23,30.000000,2884AA,0.000000,0.000000,0.000000,...,0.000000,1000.000000,297.000000,Z[Uncertain Demand],20700.000000,296.500000,0.000000,0.000000,0.000000,No
300,3312AA,0.000000,Kg,60,84,30.000000,3312AA,0.000000,0.000000,0.000000,...,0.000000,1000.000000,297.000000,Z[Uncertain Demand],0.000000,296.500000,0.000000,0.000000,0.000000,No
301,3274CA,0.000000,Kg,60,92,30.000000,3274CA,0.000000,0.000000,0.000000,...,0.000000,1000.000000,297.000000,Z[Uncertain Demand],0.000000,296.500000,0.000000,0.000000,0.000000,No
302,3332CA,0.000000,Kg,30,46,30.000000,3332CA,0.000000,0.000000,0.000000,...,0.000000,1000.000000,297.000000,Z[Uncertain Demand],0.000000,296.500000,0.000000,0.000000,0.000000,No

In [91]:
merged_df1['stock_status']= np.where(merged_df1['current_stock_quantity'] == 0, "Out of Stock",
                               np.where(merged_df1['do_we_need_to_reorder?'] =="Yes", "Below Reorder Point", "In Stock" ))

In [92]:
merged_df1

,Sku_id,current_stock_quantity,unit,average_lead_time_days,max_lead_time_days,unit_price,sku_id,annual_sales_quantity,annual_revenue,revenue_share%,...,CoV,CoV_rank,XYZ?,value_in_warehouse,ABC_rank,max_week_demand,safety_stock,reorder_point,do_we_need_to_reorder?,stock_status
0,3239AA,800.000000,Kg,30,42,687.500000,3239AA,1721.083033,1183244.585389,0.230290,...,0.733557,1.000000,X[Uniform Demand],550000.000000,81.000000,77.188741,353.565769,463.132446,No,In Stock
1,3178CA,4.000000,Kg,30,47,26000.000000,3178CA,226.036516,5876949.411008,1.143806,...,0.743534,2.000000,X[Uniform Demand],104000.000000,25.000000,9.751886,50.742516,65.476947,Yes,Below Reorder Point
2,3249CA,86.000000,Kg,60,87,320.000000,3249CA,1684.805400,539137.727967,0.104930,...,0.747341,3.000000,X[Uniform Demand],27520.000000,125.000000,68.682560,627.358964,853.626097,Yes,Below Reorder Point
3,3264CA,930.000000,Kg,30,47,30.000000,3264CA,1794.029524,53820.885706,0.010475,...,0.748687,4.000000,X[Uniform Demand],27900.000000,225.000000,69.962179,352.126591,469.746059,No,In Stock
4,3271CA,285.000000,Kg,30,40,34.500000,3271CA,283.723070,9788.445901,0.001905,...,0.782021,5.000000,X[Uniform Demand],9832.500000,284.000000,10.971107,44.849941,62.692037,No,In Stock
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,2895CA,470.000000,Kg,30,42,30.000000,2895CA,0.000000,0.000000,0.000000,...,1000.000000,297.000000,Z[Uncertain Demand],14100.000000,296.500000,0.000000,0.000000,0.000000,No,In Stock
299,2884AA,690.000000,Kg,15,23,30.000000,2884AA,0.000000,0.000000,0.000000,...,1000.000000,297.000000,Z[Uncertain Demand],20700.000000,296.500000,0.000000,0.000000,0.000000,No,In Stock
300,3312AA,0.000000,Kg,60,84,30.000000,3312AA,0.000000,0.000000,0.000000,...,1000.000000,297.000000,Z[Uncertain Demand],0.000000,296.500000,0.000000,0.000000,0.000000,No,Out of Stock
301,3274CA,0.000000,Kg,60,92,30.000000,3274CA,0.000000,0.000000,0.000000,...,1000.000000,297.000000,Z[Uncertain Demand],0.000000,296.500000,0.000000,0.000000,0.000000,No,Out of Stock
302,3332CA,0.000000,Kg,30,46,30.000000,3332CA,0.000000,0.000000,0.000000,...,1000.000000,297.000000,Z[Uncertain Demand],0.000000,296.500000,0.000000,0.000000,0.000000,No,Out of Stock

In [93]:
unit_price = pd.DataFrame(merged_df1, columns=['unit_price', 'sku_id'])

unit_price

      unit_price  sku_id
0     687.500000  3239AA
1   26000.000000  3178CA
2     320.000000  3249CA
3      30.000000  3264CA
4      34.500000  3271CA
..           ...     ...
298    30.000000  2895CA
299    30.000000  2884AA
300    30.000000  3312AA
301    30.000000  3274CA
302    30.000000  3332CA

[303 rows x 2 columns]

In [94]:
dpath = "C:/Users/prite_ef/OneDrive/Documents/Pyhton Practice/Panda Demo/data/sku_table_up.csv"
na_vals=['NA', 'Missing']
up = pd.read_csv(dpath, encoding='latin-1',na_values=na_vals)
up

     sku_id    unit_price
0    1244AA     60.000000
1    1295CA 175000.000000
2    1281BA 139500.000000
3    3205AA  76300.000000
4    2117BA   2424.000000
..      ...           ...
298  3296AA     30.000000
299  3299CA     30.000000
300  3300CA     30.000000
301  3312AA     30.000000
302  3332CA     30.000000

[303 rows x 2 columns]

In [95]:
week_list = [up]*len(week)
up_df = pd.concat([df.assign(date=date) for df, date in zip(week_list,week['date'])])

In [96]:
up_df

     sku_id    unit_price       date
0    1244AA     60.000000 2019-06-15
1    1295CA 175000.000000 2019-06-15
2    1281BA 139500.000000 2019-06-15
3    3205AA  76300.000000 2019-06-15
4    2117BA   2424.000000 2019-06-15
..      ...           ...        ...
298  3296AA     30.000000 2020-06-13
299  3299CA     30.000000 2020-06-13
300  3300CA     30.000000 2020-06-13
301  3312AA     30.000000 2020-06-13
302  3332CA     30.000000 2020-06-13

[16059 rows x 3 columns]

In [97]:
new_df

       sku_id       date             order_week  weeks_demand
0      1244AA 2019-06-15  2019-06-10/2019-06-16   4072.956060
1      1295CA 2019-06-15  2019-06-10/2019-06-16      0.268497
2      1281BA 2019-06-15  2019-06-10/2019-06-16      0.527042
3      3205AA 2019-06-15  2019-06-10/2019-06-16      2.017648
4      2117BA 2019-06-15  2019-06-10/2019-06-16     63.030296
...       ...        ...                    ...           ...
16054  3296AA 2020-06-13  2020-06-08/2020-06-14      0.000000
16055  3299CA 2020-06-13  2020-06-08/2020-06-14      0.000000
16056  3300CA 2020-06-13  2020-06-08/2020-06-14      0.000000
16057  3312AA 2020-06-13  2020-06-08/2020-06-14      0.000000
16058  3332CA 2020-06-13  2020-06-08/2020-06-14      0.000000

[16059 rows x 4 columns]

In [98]:
up_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16059 entries, 0 to 302
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sku_id      16059 non-null  object
 1   unit_price  16059 non-null  float64
 2   date        16059 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 501.8+ KB

In [99]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16059 entries, 0 to 16058
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sku_id        16059 non-null  object
 1   date          16059 non-null  datetime64[ns]
 2   order_week    16059 non-null  period[W-SUN]
 3   weeks_demand  16059 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1), period[W-SUN](1)
memory usage: 627.3+ KB

In [100]:
md_df = pd.merge(up_df, new_df, on=['sku_id','date'])
md_df

       sku_id    unit_price       date             order_week  weeks_demand
0      1244AA     60.000000 2019-06-15  2019-06-10/2019-06-16   4072.956060
1      1295CA 175000.000000 2019-06-15  2019-06-10/2019-06-16      0.268497
2      1281BA 139500.000000 2019-06-15  2019-06-10/2019-06-16      0.527042
3      3205AA  76300.000000 2019-06-15  2019-06-10/2019-06-16      2.017648
4      2117BA   2424.000000 2019-06-15  2019-06-10/2019-06-16     63.030296
...       ...           ...        ...                    ...           ...
16054  3296AA     30.000000 2020-06-13  2020-06-08/2020-06-14      0.000000
16055  3299CA     30.000000 2020-06-13  2020-06-08/2020-06-14      0.000000
16056  3300CA     30.000000 2020-06-13  2020-06-08/2020-06-14      0.000000
16057  3312AA     30.000000 2020-06-13  2020-06-08/2020-06-14      0.000000
16058  3332CA     30.000000 2020-06-13  2020-06-08/2020-06-14      0.000000

[16059 rows x 5 columns]

In [101]:
md_df["weekly_sales_amount"]=md_df['unit_price']*md_df['weeks_demand']
md_df

,sku_id,unit_price,date,order_week,weeks_demand,weekly_sales_amount
0,1244AA,60.000000,2019-06-15,2019-06-10/2019-06-16,4072.956060,244377.363582
1,1295CA,175000.000000,2019-06-15,2019-06-10/2019-06-16,0.268497,46986.892925
2,1281BA,139500.000000,2019-06-15,2019-06-10/2019-06-16,0.527042,73522.296504
3,3205AA,76300.000000,2019-06-15,2019-06-10/2019-06-16,2.017648,153946.576125
4,2117BA,2424.000000,2019-06-15,2019-06-10/2019-06-16,63.030296,152785.438377
...,...,...,...,...,...,...
16054,3296AA,30.000000,2020-06-13,2020-06-08/2020-06-14,0.000000,0.000000
16055,3299CA,30.000000,2020-06-13,2020-06-08/2020-06-14,0.000000,0.000000
16056,3300CA,30.000000,2020-06-13,2020-06-08/2020-06-14,0.000000,0.000000
16057,3312AA,30.000000,2020-06-13,2020-06-08/2020-06-14,0.000000,0.000000
16058,3332CA,30.000000,2020-06-13,2020-06-08/2020-06-14,0.000000,0.000000

In [102]:
merged_df1['inventory_turnover_ratio']=merged_df1['annual_revenue']/merged_df1['value_in_warehouse']
merged_df1

,Sku_id,current_stock_quantity,unit,average_lead_time_days,max_lead_time_days,unit_price,sku_id,annual_sales_quantity,annual_revenue,revenue_share%,...,CoV_rank,XYZ?,value_in_warehouse,ABC_rank,max_week_demand,safety_stock,reorder_point,do_we_need_to_reorder?,stock_status,inventory_turnover_ratio
0,3239AA,800.000000,Kg,30,42,687.500000,3239AA,1721.083033,1183244.585389,0.230290,...,1.000000,X[Uniform Demand],550000.000000,81.000000,77.188741,353.565769,463.132446,No,In Stock,2.151354
1,3178CA,4.000000,Kg,30,47,26000.000000,3178CA,226.036516,5876949.411008,1.143806,...,2.000000,X[Uniform Demand],104000.000000,25.000000,9.751886,50.742516,65.476947,Yes,Below Reorder Point,56.509129
2,3249CA,86.000000,Kg,60,87,320.000000,3249CA,1684.805400,539137.727967,0.104930,...,3.000000,X[Uniform Demand],27520.000000,125.000000,68.682560,627.358964,853.626097,Yes,Below Reorder Point,19.590760
3,3264CA,930.000000,Kg,30,47,30.000000,3264CA,1794.029524,53820.885706,0.010475,...,4.000000,X[Uniform Demand],27900.000000,225.000000,69.962179,352.126591,469.746059,No,In Stock,1.929064
4,3271CA,285.000000,Kg,30,40,34.500000,3271CA,283.723070,9788.445901,0.001905,...,5.000000,X[Uniform Demand],9832.500000,284.000000,10.971107,44.849941,62.692037,No,In Stock,0.995520
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,2895CA,470.000000,Kg,30,42,30.000000,2895CA,0.000000,0.000000,0.000000,...,297.000000,Z[Uncertain Demand],14100.000000,296.500000,0.000000,0.000000,0.000000,No,In Stock,0.000000
299,2884AA,690.000000,Kg,15,23,30.000000,2884AA,0.000000,0.000000,0.000000,...,297.000000,Z[Uncertain Demand],20700.000000,296.500000,0.000000,0.000000,0.000000,No,In Stock,0.000000
300,3312AA,0.000000,Kg,60,84,30.000000,3312AA,0.000000,0.000000,0.000000,...,297.000000,Z[Uncertain Demand],0.000000,296.500000,0.000000,0.000000,0.000000,No,Out of Stock,NaN
301,3274CA,0.000000,Kg,60,92,30.000000,3274CA,0.000000,0.000000,0.000000,...,297.000000,Z[Uncertain Demand],0.000000,296.500000,0.000000,0.000000,0.000000,No,Out of Stock,NaN
302,3332CA,0.000000,Kg,30,46,30.000000,3332CA,0.000000,0.000000,0.000000,...,297.000000,Z[Uncertain Demand],0.000000,296.500000,0.000000,0.000000,0.000000,No,Out of Stock,NaN

In [103]:
merged_df1.to_csv('Final_Inventory_management.csv', index = False)
up_df.to_csv('Final_Weekly_demand_sales.csv', index = False)

In [106]:
merged_df1['inventory_turnover_ratio'].fillna(0,inplace=True)

In [108]:
merged_df1['inventory_turnover_ratio'].isnull().sum()

0

In [109]:
merged_df1.to_csv('Final_Inventory_management.csv', index = False , mode='w')
up_df.to_csv('Final_Weekly_demand_sales.csv', index = False, mode='w')

In [110]:
gg=pd.read_csv('Final_Inventory_management.csv')

In [111]:
gg

,Sku_id,current_stock_quantity,unit,average_lead_time_days,max_lead_time_days,unit_price,sku_id,annual_sales_quantity,annual_revenue,revenue_share%,...,CoV_rank,XYZ?,value_in_warehouse,ABC_rank,max_week_demand,safety_stock,reorder_point,do_we_need_to_reorder?,stock_status,inventory_turnover_ratio
0,3239AA,800.000000,Kg,30,42,687.500000,3239AA,1721.083033,1183244.585389,0.230290,...,1.000000,X[Uniform Demand],550000.000000,81.000000,77.188741,353.565769,463.132446,No,In Stock,2.151354
1,3178CA,4.000000,Kg,30,47,26000.000000,3178CA,226.036516,5876949.411008,1.143806,...,2.000000,X[Uniform Demand],104000.000000,25.000000,9.751886,50.742516,65.476947,Yes,Below Reorder Point,56.509129
2,3249CA,86.000000,Kg,60,87,320.000000,3249CA,1684.805400,539137.727967,0.104930,...,3.000000,X[Uniform Demand],27520.000000,125.000000,68.682560,627.358964,853.626097,Yes,Below Reorder Point,19.590760
3,3264CA,930.000000,Kg,30,47,30.000000,3264CA,1794.029524,53820.885706,0.010475,...,4.000000,X[Uniform Demand],27900.000000,225.000000,69.962179,352.126591,469.746059,No,In Stock,1.929064
4,3271CA,285.000000,Kg,30,40,34.500000,3271CA,283.723070,9788.445901,0.001905,...,5.000000,X[Uniform Demand],9832.500000,284.000000,10.971107,44.849941,62.692037,No,In Stock,0.995520
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,2895CA,470.000000,Kg,30,42,30.000000,2895CA,0.000000,0.000000,0.000000,...,297.000000,Z[Uncertain Demand],14100.000000,296.500000,0.000000,0.000000,0.000000,No,In Stock,0.000000
299,2884AA,690.000000,Kg,15,23,30.000000,2884AA,0.000000,0.000000,0.000000,...,297.000000,Z[Uncertain Demand],20700.000000,296.500000,0.000000,0.000000,0.000000,No,In Stock,0.000000
300,3312AA,0.000000,Kg,60,84,30.000000,3312AA,0.000000,0.000000,0.000000,...,297.000000,Z[Uncertain Demand],0.000000,296.500000,0.000000,0.000000,0.000000,No,Out of Stock,0.000000
301,3274CA,0.000000,Kg,60,92,30.000000,3274CA,0.000000,0.000000,0.000000,...,297.000000,Z[Uncertain Demand],0.000000,296.500000,0.000000,0.000000,0.000000,No,Out of Stock,0.000000
302,3332CA,0.000000,Kg,30,46,30.000000,3332CA,0.000000,0.000000,0.000000,...,297.000000,Z[Uncertain Demand],0.000000,296.500000,0.000000,0.000000,0.000000,No,Out of Stock,0.000000

In [112]:
md_df.to_csv('Final_Weekly_demand_sales.csv', index = False, mode='w')